/*navbar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
li{
    float: left;
}
li a{
    display: block;
    color: honeydew;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: lavenderblush;
}
/*body*/
div{
    background-image: url(gra1.jpg);
    text-align: left;
    line-height: normal;
    font-size: medium;
    font-weight: lighter;
    font-style: oblique;
    margin: auto;
    padding: 50px 75px;
    width: fit-content;
}
p{
    text-align: justify;
    font-size: 14;
}
